.card {
	position: relative;
}
.card__link {
}
.card__link_img {
	display: block;
	margin-bottom: 12px;
	@media (min-width: 580px){
		margin-bottom: 19px;
	}
}
.card__img {
	width: 100%;
	object-fit: cover;
	border-radius: 16px;
}
.card__info {
	margin-bottom: 12px;
	@media (min-width: 580px) {
		display: flex;
		justify-content: space-between;
		gap: 5px;
		margin-bottom: 20px;
	}
}
.card__title {
	font-size: inherit;
	font-weight: inherit;
	margin-bottom: 4px;
	@media (min-width: 580px) {
		font-size: 16px;
		margin-top: 3px;
	}
}
.card__price {
	font-size: 16px;
	@media (min-width: 580px){
		font-size: 20px;
	}
}
.card__btn {
	width: 100%;
	color: #780096;
	border: 1px solid #780096;
	border-radius: 32px;
	padding: 12px 24px;
	transition: .3s ease-in-out;
	outline: none;
	&:hover {
		border: 1px solid #9200B7;
		background-color: #9200B7;
		color: #fff;
	}
	&:focus-visible {
		outline: 1px solid #C0F;
	}
	@media (min-width: 580px) {
		grid-area: btn;
	}
}
.card__favorite {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 16px;
	height: 16px;
}